.card-dashbord-data-market-size {
  background: linear-gradient(145.41deg, #9BADFF -18.57%, #945EFB 134.38%);
}

.card-dashbord-data-total-available {
  background: linear-gradient(145.41deg, #FF7C7C -18.57%, #FF94BC 134.38%);
}

.card-dashbord-data-borrowed {
  background: linear-gradient(145.41deg, #FF7C7C -18.57%, #FFB78E 134.38%);
}